.update-genre {
    &__form {
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
    }

    &__error {
        color: var(--pico-color-red-500);
    }

    &__footer {
        display: flex;
        justify-content: flex-end;
        gap: 1rem;
    }

    &__cancel {
        background-color: var(--pico-color-amber-400);
        border-color: var(--pico-color-amber-400);
        color: white;
        transition: darken 0.2s;

        &:hover {
            background-color: var(--pico-color-amber-450);
        }
    }

    &__save {
        background-color: var(--pico-primary);
        border-color: var(--pico-primary);
        color: white;
    }
}