<div class="container">
    <app-track-progress [books]="books()" (updateProgress)="onUpdateProgress($event)"
                        (addBook)="onAddBook()">
    </app-track-progress>

    <app-my-shelves [bookshelves]="bookshelves()" (bookshelfClicked)="onShelfClick()"
                    (addBookshelfClicked)="onAddShelf()">
    </app-my-shelves>

    <app-book-suggestions [bookSuggestions]="recommendedBooks()"
                          (bookClicked)="onBookSuggestionClick($event)">
    </app-book-suggestions>

    <app-statistics [statisticsData]="statisticsData()">
    </app-statistics>


    @if (selectedBook()) {
        <app-update-progress [book]="selectedBook()!" [isOpen]="isUpdateProgressOpen()"
                             (saveProgress)="onSaveProgress($event)" (cancelUpdate)="onCancelProgress()">
        </app-update-progress>
    }
</div>
