<div class="container">
  <app-track-progress [books]="books()" (updateProgress)="onUpdateProgress($event)"
    (addBook)="onAddBook()">
  </app-track-progress>

  <app-my-shelves [shelves]="bookshelves()" (shelfClicked)="onShelfClick()"
    (addShelfClicked)="onAddShelf()">
  </app-my-shelves>

  @if (selectedBook()) {
  <app-update-progress [book]="selectedBook()!" [isOpen]="isUpdateProgressOpen()"
    (saveProgress)="onSaveProgress($event)" (cancelUpdate)="onCancelProgress()">
  </app-update-progress>
  }
</div>
