<header class="header">
  <div class="header-left">
    <div class="brand">
      <img src="/images/saga_logo.png" alt="Saga Logo" class="logo">
      <span class="app-name">Saga</span>
    </div>
  </div>
  <div class="header-right">
    <input type="search" placeholder="Search Books..." class="search-input">
    @if (!isLoggedIn()) {
      <button routerLink="/auth/login" class="login-btn">Login</button>
    } @else {
      <a routerLink="/my-books" class="my-books-link">My Books</a>
      <button class="logout-btn" (click)="logout()">Logout</button>
    }
  </div>
</header>
