nav {
  padding: 1rem 50px;
  background-color: white;

  .brand {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
    color: inherit;

    &:hover {
      text-decoration: none;
    }
  }

  .logo {
    width: 32px;
    height: 32px;
    object-fit: contain;
  }

  .search-input {
    min-width: 200px;
    margin-bottom: 0;
  }

  // Responsive design
  @media (max-width: 768px) {
    ul {
      flex-wrap: wrap;
      justify-content: center;
    }

    .search-input {
      min-width: 150px;
    }
  }

  @media (max-width: 576px) {
    ul {
      flex-direction: column;
      align-items: stretch;

      li {
        width: 100%;
        text-align: center;
      }
    }

    .search-input {
      width: 100%;
    }
  }
}

