<footer>
  <div class="footer-columns">
    <div class="footer-column footer-logo">
      <img 
        [ngSrc]="logoSrc" 
        [alt]="logoAlt"
        width="150"
        height="150"
      />
    </div>
    
    <div class="footer-column footer-illustration">
      <img 
        [ngSrc]="illustrationSrc" 
        [alt]="illustrationAlt"
        priority
        width="600"
        height="400"
      />
    </div>
    
    <div class="footer-column footer-angular">
      <img 
        [ngSrc]="angularLogoSrc" 
        [alt]="angularLogoAlt"
        width="200"
        height="200"
      />
    </div>
  </div>
  
  <div class="footer-bottom">
    <p>Made with <img src="/images/heart_golden.svg" alt="love" class="footer-heart" /> for the Angular Community</p>
    <a href="https://github.com/marcotello/saga" target="_blank" rel="noopener noreferrer">
        <img src="/images/github-icon.svg" alt="GitHub" />
    </a>
  </div>
</footer>
