/* You can add global styles to this file, and also import other style files */
@import '@picocss/pico/css/pico.min.css';
@import '@picocss/pico/css/pico.colors.min.css';

html {
  background-color: var(--pico-color-slate-50);
}

body {
  background-color: var(--pico-color-slate-50);
}
