.delete-record {
  &__cancel-button {
    background-color: var(--pico-color-amber-400);
    border-color: var(--pico-color-amber-400);
    color: var(--pico-color-inverse);

    &:hover,
    &:focus {
      background-color: var(--pico-color-amber-500);
      border-color: var(--pico-color-amber-500);
    }
  }

  &__delete-button {
    background-color: var(--pico-color-red-500);
    border-color: var(--pico-color-red-500);
    color: var(--pico-color-inverse);

    &:hover,
    &:focus {
      background-color: var(--pico-color-red-600);
      border-color: var(--pico-color-red-600);
    }
  }
}

