.search-input {
    padding: 0.5rem;
    border: 1px solid var(--pico-border-color);
    border-radius: var(--pico-border-radius);
    background-color: var(--pico-background-color);
    color: var(--pico-color);
    min-width: 200px;
    margin-bottom: 0;
    height: 50px;
}